<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="always"></ion-searchbar>

  <ion-grid class="section" *ngFor="let section of sections">
    <ion-row class="header">
      <ion-col class="title">
        {{section.header.title}}
      </ion-col>
    </ion-row>

    <ion-chip class="tag" [id]="section.tag.id">
      <ion-avatar>
        <img [src]="section.tag.img">
      </ion-avatar>
      <ion-label>{{section.tag.title}}</ion-label>
      <ion-icon name="close-circle" ></ion-icon>
    </ion-chip>

    <div class="details" [id]="section.bodyDetails.divDetails">
      <ion-row class="bodyDetails" id="body2">
        <ion-row [size]="section.bodyDetails.imgSize && section.bodyDetails.imgSize || sectionsConfig.imgSize">
          <img [src]="section.body.img" [id]="section.body.img" >
        </ion-row>
        <ion-row [size]="section.bodyDetails.contentSizeDetails && section.bodyDetails.contentSize || sectionsConfig.contentSizeDetails" class="content">
          {{section.bodyDetails.content}}
        </ion-row>
        <ion-button color="success" [id]="section.bodyDetails.backId" style="margin:15px;">Back</ion-button>
      </ion-row>
    </div>

    <ion-row class="body" [id]="section.body.DivIdBody">
      <ion-col [size]="section.body.imgSize && section.body.imgSize || sectionsConfig.imgSize">
        <img [src]="section.body.img" [id]="section.body.id">
      </ion-col>
      <ion-col [size]="section.body.contentSize && section.body.contentSize || sectionsConfig.contentSize" class="content">
        {{section.body.content}}
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
